
 <html>
 <head>
   <link rel='stylesheet', href='/stylesheets/style.css' />
   <link rel='stylesheet', href='/stylesheets/bootstrap.min.css' />
 </head>
 <body>
   <p class="t1">Nuestra historia</p>
   <div class="container">
     <div class="row">
       <div class="col-xs-2 col-md-2 col-xl-2 col-lg-2 t2">
         <a href="http://localhost:3000/">Inicio</a>
       </div>
       <div class="col-xs-2 col-md-2 col-xl-2 col-lg-2 t2">
         <a href="http://localhost:3000/servicios">Servicios</a>
       </div>
       <div class="col-xs-2 col-md-2 col-xl-2 col-lg-2 t2">
         <a href="http://localhost:3000/historia">Historia</a>
       </div>
       <div class="col-xs-2 col-md-2 col-xl-2 col-lg-2 t2">
         <a href="http://localhost:3000/verfotos">Galeria</a>
       </div>
       <div class="col-xs-2 col-md-2 col-xl-2 col-lg-2 t2">
         <a href="http://localhost:3000/about">About</a>
       </div>  
     </div>
   </div>
   <p class="tx1">Temple Brew House, home to the Essex Street Brewing Company, <br />
    has three aims in life: to make great beer, to enjoy making great beer, <br />
    and to bring everyone else along for the ride. Here at London’s most central micro-brewery, <br />
    just a stone’s throw from the banks of the Thames, <br />
    we’ve created a relaxed and friendly basement pub where you can come and enjoy a pint <br />
    or two of your favourite beers, or maybe find a new one to share with your friends.<br />
    Established in November 2014, we’ve tried to keep things as simple as possible. <br />
    The brewery is in the middle of the bar so your pint travels all of about 15ft from tank to glass. <br />
    We’re always on the look-out for new and interesting beers from around the globe to add to our taps and fridges,<br />
    but these won’t come exclusively at the expense of having tried and tested ones you know you can rely on. <br />
    Our house brewer Vanesa is also on hand to keep everyone up to date on what brews are coming up or ready to go.<br />
    Located in the heart of the historic Temple district in London, we are ourselves a ‘temple’ for beer enthusiasts, <br />
    so whether it’s a post-work pint and burger or a fascinating brewery tour you’re after, you’ll find it here.<br />
    Please keep in mind that we don’t allow under 18’s in TBH.<br /></p>
    <img src="images/temple.png" alt="temple" class="img-fluid im1" />
 </body>
 </html>
