<html>
<head>
  <link rel='stylesheet', href='/stylesheets/style.css' />
  <link rel='stylesheet', href='/stylesheets/bootstrap.min.css' />
</head>
<body>
  <p class="t1">Cervezas</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-md-2 col-xl-2 col-lg-2 t2">
        <a href="http://localhost:3000/">Inicio</a>
      </div>
      <div class="col-xs-2 col-md-2 col-xl-2 col-lg-2 t2">
        <a href="http://localhost:3000/servicios">Servicios</a>
      </div>
      <div class="col-xs-2 col-md-2 col-xl-2 col-lg-2 t2">
        <a href="http://localhost:3000/historia">Historia</a>
      </div>
      <div class="col-xs-2 col-md-2 col-xl-2 col-lg-2 t2">
        <a href="http://localhost:3000/verfotos">Galeria</a>
      </div>
      <div class="col-xs-2 col-md-2 col-xl-2 col-lg-2 t2">
        <a href="http://localhost:3000/about">About</a>
      </div>
    </div>
  </div>
  <img src="images/lineal.jpg"  alt="tienda" class="img-fluid" />
